/*
Css for the nav bar
*/

:root {
	/* Color palette */
	--DARK-PURPLE: #210124;
	--BLUE: #2660A4;
	--LIGHT-BLUE: #00AFB9;
	--OFF-WHITE: #F5F1ED;
	--GOLD: #FFD700;

}

#navBarDiv {
	display: block;
	background-color: var(--DARK-PURPLE);
}

#navBarDiv table {
	margin-right: auto;
	margin-left: auto;
}

#navBarDiv table tr td {
	padding-top: 20px;
	padding-right: 50px;
	padding-bottom: 20px;
}

#navBarDiv a {
	color: var(--OFF-WHITE);
	text-decoration: none;
}

#navBarDiv a:hover {
	color: var(--GOLD);
}

a {
	text-decoration: none;
	color: black;
}

header {
	padding: 40px;
	width: 100%;
	border-radius: 20px;
	margin: 5px;
	box-sizing: border-box;
}

h1 {
	color: black;
	text-align: center;
}

td {
	padding: 50px;
}

hr.divider {
	border: 1px solid black;
}

/*
Css for the descriptions of the realtors
*/

.desc {
	margin-left: 90px;
}

.row-spacer {
	margin-top: 10px;
}

/*
Css for the images of the realtors
*/

.realtorImage {
	padding: 1px;
	height: 200px;
	width: 200px;
	margin: 1px;
	justify-content: space-around;
}

.realtorImage:hover {
	position: relative;
	width: 100%;
}

/*
Css for the footer. The only use of this is just to make sure the footer actually goes at the bottom of the page. 
*/

footer {
	clear: both;
}
